/Prácticas/Objetos/Practica1/P1Ejercicios/nbproject/private/
/Prácticas/Objetos/Practica1/P1Ejercicios/build/
/Prácticas/Objetos/Practica2/P2Ejercicios/nbproject/private/
/Prácticas/Objetos/Practica2/P2Ejercicios/build/
/Prácticas/Objetos/Practica2/P3Ejercicios/nbproject/private/
/Prácticas/Objetos/Practica2/P3Ejercicios/build/
/Prácticas/Objetos/Practica3/P3Ejercicios/nbproject/private/
